<?xml version="1.0" encoding="UTF-8" ?>
<web-app id="web_portal" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Web Portal</display-name>
	<servlet>
		<servlet-name>web_portal</servlet-name>
		<servlet-class>softarch.portal.ui.InternetFrontEnd</servlet-class>
		<init-param>
			<param-name>config_file</param-name>
			<param-value>C:\\Workspace\\Files\\Work\\Vub1011\\S2  SoftwArchit\\Exercises\\RepositorySVN\\web_portal\\web_portal.cfg</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>web_portal</servlet-name>
		<url-pattern>/web_portal</url-pattern>
	</servlet-mapping>
</web-app>
